@model Device
@{
    ViewData["Title"] = "EliminarDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger"> ¿Esta seguro de eliminar el Device?</h3>
<hr />

<div class="col-sm-4">

    <form asp-action="EliminarDevice" asp-controller="Home" method="post">
        <input type="hidden" asp-for="IdDevice" />


        <div class="mb-2">
            <label class="form-label">Id. Device</label>
            <input class="form-control form-control-sm" asp-for="IdDevice" type="text" />
        </div>

        <div class="mb-2">
            <label class="form-label">Id. Device Type</label>
            <input class="form-control form-control-sm" asp-for="DeviceTypeId" type="text" />
        </div>

        <div class="mb-2">
            <label class="form-label">Display Name</label>
            <input class="form-control form-control-sm" asp-for="DisplayName" type="text" />
        </div>

        <div class="mb-2">
            <label class="form-label">Id. Controller</label>
            <input class="form-control form-control-sm" asp-for="ControllerId" type="decimal" />
        </div>

        <div class="mb-2">
            <label class="form-label">Enabled</label>
            <input class="form-control form-control-sm" asp-for="Enabled" type="bool" />
        </div>

       <div class="mb-2">
           @* <button class="btn btn-danger btn-sw w-25" type="submit">Eliminar</button>
            <a class="btn btn-dark btn-sw w-25" asp-action="Index" asp-controller="Home">Volver</a> *@

            <a asp-action="EliminarDevice" asp-controller="Home" asp-route-idDevice="@Model.IdDevice" class="btn btn-danger btn-sw w-25">Eliminar</a>
            <a class="btn btn-dark btn-sw w-25" asp-action="IndexDeviceType" asp-controller="Home">Volver</a>

       </div>

    </form>
</div>




